In [4]:
tuple1=(1,2,3,4,5)
tuple2=('dog','cat','elephant')
print(tuple1)
print(tuple2)

(1, 2, 3, 4, 5)
('dog', 'cat', 'elephant')

In [5]:
tuple1=('maths',40,'english',50,'Economics',45)
print(tuple1)

('maths', 40, 'english', 50, 'Economics', 45)

In [6]:
tuple3=(1,2,3,[2,45])
print(tuple3)

(1, 2, 3, [2, 45])

In [7]:
tup1=(3,)
print(tup1)

(3,)

In [8]:
tup1=(3)
print(tup1)

3

In [12]:
tup1=('dog')
print(type(tup1))

<class 'str'>

In [15]:
tup1=()
print(tup1)

()

In [17]:
tup1=tuple([1,2,3,4])
print(tup1)

(1, 2, 3, 4)

In [21]:
tuple1=(1,2,3,4,5)
tup2=tuple1+(7,)
print(tup2)

(1, 2, 3, 4, 5, 7)

In [23]:
tuple1=(1,2,3,4)
tuple[5]=100

TypeError: 'type' object does not support item assignment

In [24]:
t1=(1,2,3,4)
t2=t1*3
print(t2)

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [25]:
t=tuple()
t=t+('PYTHON',)
print(len(t))
t1=(10,20,30)
t2=t1+t
print(len(t2))
t3=t1*2
print(t3)

1
4
(10, 20, 30, 10, 20, 30)

In [ ]:

employees = {}

n = int(input("Enter the number of employees: "))

for i in range(n):
    name = input(f"Enter name of employee {i+1}: ")
    number = input(f"Enter employee number of {name}: ")
    employees[name] = number

print("\nEmployee Records:")

for name, number in employees.items():
    print(f"Name: {name}, Number: {number}")

In [ ]:
employees = {}

n = int(input("Enter the number of employees: "))

for i in range(n):
    name = input(f"Enter name of employee {i+1}: ")
    number = input(f"Enter employee number of {name}: ")
    employees[name] = number

print("\nEmployee Records:")
for name, number in employees.items():
    print(f"Name: {name}, Number: {number}")

In [ ]:
# Initialize an empty dictionary to store employee data
employees = {}

# Get the number of employees from the user
n = int(input("Enter the number of employees: "))

# Get employee details
for i in range(n):
    name = input(f"Enter name of employee {i+1}: ")
    number = input(f"Enter employee number of {name}: ")
    employees[name] = number

# Display the dictionary: names as keys, numbers as values
print("\nEmployee Records:")
for name, number in employees.items():
    print(f"Name: {name}, Number: {number}")

In [4]:
import numpy as np
arr1 = np.array([1,2,3,4,5])
arr2 = np.array([[1,2,3,4,5],[6,7,8,9,10]])

In [5]:
import numpy as np
arr1 = np.array([1,2,3,4,5])
arr2 = np.array([[1,2,3,4,5],[6,7,8,9,10]])